.cell {
  border: solid 1px #000;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stone {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: white;
}
